<div class="bg-container">
  <div class="signup-card">
        <h1>Sign in successful</h1>
        <p>Note: an admin will review and approve your account soon.</p>
        <%= link_to 'Back to sign in', sign_in_url, class: 'btn btn-block btn-success' %>
  </div>
</div>

<%= stylesheet_link_tag 'logged_out' %>
<%= stylesheet_link_tag 'sign_in' %>