<div class="bg-container">
  <div class="signup-card">
    <h4>Note: An admin will review your sign up request and provide you with feedback.</h4>
  </div>
</div>


<%= stylesheet_link_tag 'sign_up' %>


