<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Welcome to PostTrack, <%= @user.name %></h1>
<p>
  You have successfully signed up to PostTrack,
  your username is: <%= @user.name %>.<br>
</p>
<p>
  To set up a password and to log in to the site, just follow this link:
  <%= link_to 'Sign in', confirm_account_url(token: @user.account_activation_token.present? ? @user.account_activation_token.present? : 'invalid') %>
  .
</p>
<p>Thanks for joining and have a great day!</p>
<div>


</div>
</body>
</html>