<section class="content-header">
  <h1>
    Users
    <small>
      <!--Put text here if you want it to display small-->
    </small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i>Home</a></li>
    <li><a href="/admin/users">Users</a></li>
    <li class="active">Edit user</li>
  </ol>
</section>
<%= render partial: 'form' %>