<section class="content-header">
  <h1>
    Users
    <small>
      <!--Put text here if you want it to display small-->
    </small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Users</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">List all users</h3>
        </div>
        <div class="box-body">
          <table id="default-table" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Surname</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
                <tr>
                  <td><%= user.name %></td>
                  <td><%= user.surname %></td>
                  <td><%= user.username %></td>
                  <td>

                    <div class="btn-group">
                      <button class="btn btn-xs btn-info btn-fill">
                        <i class="ace-icon fa fa-eye bigger-120"></i>
                      </button>
                      <a class="btn btn-xs btn-info btn-fill" type="button" href="/area/" data-toggle="tooltip" title="Edit">
                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                      </a>
                      <a class="btn btn-xs btn-danger btn-fill" type="button" href="/area">
                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                      </a>
                    </div>
                  </td>
                </tr>
            <% end %>
            </tbody>
            <tfoot>
            <tr>
              <th>Name</th>r
              <th>Surname</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
            </tfoot>
          </table>
          <div class="button-section">
            <a href="/admin/users/new" class="btn btn-block btn-success">Add user</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>