<section class="content-header">
  <h1>
    Trackings
    <small>
      <!--Put text here if you want it to display small-->
    </small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/users"><i class="fa fa-dashboard"></i>Home</a></li>
    <li><a href="/users/trackings">Trackings</a></li>
    <li class="active">Add Tracking</li>
  </ol>
</section>
<%= render partial: 'form' %>