/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 //*= require_tree .
 //*= require_self
 */



@import url('https://fonts.googleapis.com/css?family=Quicksand|Rubik');


/* Styling for the button section in each page (Add/cancel ect...)*/
.button-section{
    width:100%;
}
.button-section button{
    margin-top:0px;
    width: 100px;
    display: inline-block;
}
.button-section a{
    margin-top:0px;
    width: 100px;
    display: inline-block;
}
.button-section .btn-cancel{
    float:right;
}

.button-section div{
    height:35px;
}

//Default table non datatable
table.default-table {
  border-collapse: collapse;
  width: 100%;
}

.default-table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.default-table tr:nth-child(even) {
  background-color: #dddddd;
}